* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center !important;
  color: rgb(151, 68, 151) !important;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 960px) {
  .container {
    max-width: 90% !important;
    padding: 10px;
    
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 90% !important;
    padding: 5px;
  }
}